$primary: #b66051;
$secondary: #dcb147;
$info: #304a4b;
$success: #6c9750;
$warning: #e98718;
$danger: #e98718;
$light: #f4f6ef;
$dark: #304a4b;
$transition: all 0.5s ease-in-out;

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    background-color: $dark;
    .container,
    .container-fluid {
        background-color: $light;
        color: $dark;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
